src/main/resources/wsdl/MB_BK_SCIENZA_NOTIF_SAPService.wsdl

<wsdl:definitions name="MB_BK_SCIENZA_NOTIF_SAP"
	targetNamespace="http://www.scienza.com.uy/MB_BK_SCIENZA_NOTIF_SAP"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:p1="http://www.scienza.com.uy/MB_BK_SCIENZA_NOTIF_SAP"
>
  	<wsdl:types>
	    <xsd:schema 
			elementFormDefault="qualified" 
			targetNamespace="http://www.scienza.com.uy/MB_BK_SCIENZA_NOTIF_SAP"
			xmlns:tns="http://www.scienza.com.uy/MB_BK_SCIENZA_NOTIF_SAP"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		>
			<xsd:element name="MT_SCIENZA_NOTIF_SAP" type="tns:DT_SCIENZA_NOTIF_SAP" />
			<xsd:element name="MT_SCIENZA_NOTIF_SAP_Response" type="tns:DT_SCIENZA_NOTIF_SAP_Response" />
			
			<xsd:complexType name="DT_SCIENZA_NOTIF_SAP">
				<xsd:sequence>				
					<xsd:element name="PACIENTE_ID" minOccurs="1" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:long">
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="TITULO" minOccurs="1" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="TEXTO" minOccurs="1" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="TEXTO_NOTIFICACION_PUSH" minOccurs="1" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ACCION" minOccurs="1" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="MENSAJE"/>
								<xsd:enumeration value="DETALLE_ENTREGA"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="DATO_CLAVE" minOccurs="0" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="VENCIMIENTO" minOccurs="0" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="DT_SCIENZA_NOTIF_SAP_Response">
				<xsd:sequence>
					<xsd:element name="ESTADO" minOccurs="1" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="OK"/>
     							<xsd:enumeration value="NO_OK"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MENSAJE" minOccurs="0" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="MT_SCIENZA_NOTIF_SAP">
		<wsdl:part element="p1:MT_SCIENZA_NOTIF_SAP" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="MT_SCIENZA_NOTIF_SAP_Response">
		<wsdl:part element="p1:MT_SCIENZA_NOTIF_SAP_Response" name="parameters" />
	</wsdl:message>
	
	<wsdl:portType name="MB_BK_SCIENZA_NOTIF_SAP">
		<wsdl:operation name="MB_BK_SCIENZA_NOTIF_SAP">
			<wsdl:input message="p1:MT_SCIENZA_NOTIF_SAP" />
			<wsdl:output message="p1:MT_SCIENZA_NOTIF_SAP_Response" />
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="MB_BK_SCIENZA_NOTIF_SAPBinding" type="p1:MB_BK_SCIENZA_NOTIF_SAP">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="MB_BK_SCIENZA_NOTIF_SAP">
			<soap:operation soapAction="http://www.scienza.com.uy/MB_BK_SCIENZA_NOTIF_SAP"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="MB_BK_SCIENZA_NOTIF_SAPService">
		<wsdl:port name="HTTP_Port" binding="p1:MB_BK_SCIENZA_NOTIF_SAPBinding">
			<soap:address location="http://app.scienza.com.uy:8100/api/ws/MB_BK_SCIENZA_NOTIF_SAPService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>